.divMaeHeader {
    background-color: var(--bg-hf); 
    align-items: center;
    padding: 5px;
    margin: 0px 0px 1em 0px;
    position: fixed;
    width: 100%;
}
.divMaeHeader nav {
    padding-top: .9rem;
}

.divLinhaHeader {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.divLogoHeader {margin-right: 7em;}
.divLogoHeader a {
    font-size: 45px;
    text-decoration: none;
    color: var(--color-logo);
}

.linkNavBar {
    font-size: 29px;
    color: var(--color-font);
    text-decoration: none;
}
.linkNavBar:hover {
    color: var(--colorfont-rgba);
    transition: color .4s;
}

.liNav {
    margin-right: 2em;
}

/* MEDIAS QUERY */
@media (max-width: 992px)
/* mobile maximo */ 
{
  .ulHeaderMenu li {
    margin-top: 10px;
   }
}