/* Aqui são colocados o css que serão usadas de forma GLOBAL na aplicação */

/* 
- Cores do Site -
Azul e Branco = #b3e5fc (Padrão)
*/

/* importando o bootstrap do node-module */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~bootstrap-icons/font/bootstrap-icons.css";

@font-face {
    font-family: 'Roboto';
    src: url('assets/font/Roboto-Light.ttf') format('truetype');
}

:root {
    --bg: #F5F5F5;
    
    --color-padrao: #b3e5fc;
    --color-padrao-rgbaMenu: RGBA(179,229,252,1);
  
    --bg-panel: #EBEBEB;
    --color-headings: #0077FF;
    --color-text: #333333;
}

html, body { height: 100%; }
body { 
    background-color: var(--bg);
    margin: 0; 
    padding: 0;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}


