<!-- <nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button"data-bs-toggle="collapse"data-bs-target="#menuMobile"aria-controls="navbarToggleExternalContent"aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>

<div class="collapse" id="menuMobile">
  <div class="navDivMae">
    <div><a routerLink="/home">Home</a></div>
    <div><a routerLink="/aba1">Games</a></div>
    <div><a routerLink="/aba2">Tecnologia</a></div>
    <div><a routerLink="/aba3">Séries/Filmes</a></div>
  </div>
</div> 

 -->

<!-- códigos que podem ser usados pra futuros designs. Made by: kennyb0t-->

<div class="text-sobre">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, veritatis facilis cum placeat, reprehenderit eaque vero quaerat voluptatem hic nam molestias in accusamus voluptates. Magnam maxime deserunt quos modi architecto! <br> Lorem ipsum
        dolor sit amet, consectetur adipisicing elit. Reprehenderit possimus totam quam ipsam aspernatur cumque molestiae eum sit ratione! Saepe vitae corporis sed fuga quia ducimus voluptate voluptas neque veniam.
        <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium laborum accusantium quia soluta consequatur mollitia et. Sequi maiores, illum quaerat iusto aliquid perspiciatis necessitatibus illo molestiae iste tempora repellendus praesentium!
        <br> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum suscipit earum non. Molestias quidem a accusantium laboriosam aliquam perferendis libero! Excepturi vel delectus neque labore porro, quis iure tempora tempore. <br>
    </p>
</div>

<!-- Pra testar depois no style SASS <div class="wrap">
    <h1>BOTÃO TESTE</h1>
    <p>Use SASS to detect your background colors and other styles and apply them to your buttons for consistent global hovers and active states.</p>
    <a href="#" class="btn btn-green">Green Button</a>
    <a href="#" class="btn btn-blue">Blue Button</a>
    <a href="#" class="btn btn-yellow">Yellow Button</a>
    <a href="#" class="btn btn-red">Red Button</a>
</div>
-->