<!-- <div class="collapse" id="navbarToggleExternalContent">
  <div class="navDivMae">
    <div><a routerLink="/home">Home</a></div>
    <div><a routerLink="/aba1">Games</a></div>
    <div><a routerLink="/aba2">Tecnologia</a></div>
    <div><a routerLink="/aba3">Séries/Filmes</a></div>
</div>
  </div> -->
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>