.divMaeSideBarL{
    max-width: 260px;
    color: red;
    font-weight: bold;
    text-align: center;
    padding: 1em;
    text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
    background-color: var(--color-padrao);
}

/* MEDIAS QUERY */
@media (min-width: 1688px) {
/* style de tela grande */
    .divMaeSideBarL {
	width: 260px;
    }
}