<div class="row g-2">
    <div class="col-md">
        <div class="form-floating">
            <input type="email" class="form-control" id="floatingInputGrid" placeholder="name@example.com" value="">
            <label for="floatingInputGrid">Preencha seu nick aqui...</label>
        </div>

    </div>

    <div class="col-md">
        <div class="form-floating">
        </div>
    </div>
</div>
<div class="form-floating">
    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
    <label for="floatingTextarea2">O que você deseja?</label>
</div>



<!-- Formulário 02 <form class="form-style-9">
    <ul>
        <li>
            <input type="text" name="field1" class="field-style field-split align-left" placeholder="Name" />
            <input type="email" name="field2" class="field-style field-split align-right" placeholder="Email" />

        </li>
        <li>
            <textarea name="field5" class="field-style" placeholder="Message"></textarea>
        </li>
        <li>
            <input type="submit" value="Send Message" />
        </li>
    </ul>
</form>
-->

<div>
    <a href="#" class="square_btn">ENVIAR</a>
</div>
<!--
    <button class="botao-enviar" type="submit">ENVIAR</button>
</div>
-->