<div class="divMaeFooter">
    <div class="infoFooter">
        <div class="logoFooter">
            <img src="../../../../../assets/img/angular.png" width="45">
        </div>
        <div class="sobreFooter">
            <a routerLink="/abaSobre">SOBRE</a>
        </div>
        <div class="contatoFooter">
            <a routerLink="/abaContato">CONTATO</a>
        </div>        
    </div>
    <div class="socialFooter">
        <div class="divSocialIcon">
            <a href="#"><i class="bi bi-instagram"></i></a>
            <a href="#"><i class="bi bi-twitter"></i></a>
            <a href="#"><i class="bi bi-facebook"></i></a>
        </div>
        <div class="divCopy">
            <strong>© COPYRIGHT 2021 - Site Inicial</strong>
            <span>TODOS OS DIREITOS RESERVADOS</span>
        </div>
    </div>
</div>
