<div class="divMaeFooter">
    <div class="infoFooter">
        <div class="logoFooter">
            <img src="../../../../../assets/img/angular.png" width="45">
        </div>
        <div class="sobreFooter"><a>SOBRE</a></div>
        <div class="contatoFooter"><a>CONTATO</a></div>
    </div>
    <div class="socialFooter">
        <div>
            <i class="bi bi-instagram"></i>
            <i class="bi bi-twitter"></i>
            <i class="bi bi-facebook"></i>
        </div>
        <div class="divCopy">
            <strong>© COPYRIGHT 2021 - Site Inicial</strong>
            <span>TODOS OS DIREITOS RESERVADOS</span>
        </div>
    </div>
</div>
