.divMaeFooter {
    background-color: #424242;
    color: #E0E0E0; 
    position: fixed;
    bottom: 0;
    width: 100%;  
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1em 0 0.5em;
}

.infoFooter, .socialFooter {
    display: flex;
    align-items: center;
}

.divCopy{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.logoFooter, .sobreFooter, .contatoFooter {
    margin-right: 15px;
}
