app-header {
    grid-area: header;   
}

app-conteudo {
    grid-area: conteudo;
    margin: 0 1em 5em 1em;
    background-color: var(--bg-conteudo);
    padding: 0.7em;
    color: var(--colorfont-conteudo);
}

app-footer {
    grid-area: footer;              
}

app-sidebarTop {
    grid-area: sidebarTop;
    margin: 5.4em 1em 1em 1em;
}

app-sidebarLateral {
    grid-area: sidebarL;
    margin: 0 0 5em 1em;
}

.containerApp {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: auto 1fr;
    grid-template-areas: 
        'header header'
        'sidebarTop sidebarTop'
        'sidebarL conteudo'
        'footer footer';
}

/* MEDIAS QUERY */
@media (max-width: 992px) {
/* mobile maximo */ 
    .containerApp {
        display: grid;
        grid-template-rows: auto auto 1fr auto;
        grid-template-columns: 0px 1fr;
        grid-template-areas: 
            'header header'
            'sidebarTop sidebarTop'
            'sidebarL conteudo'
            'footer footer';
    }

    app-sidebarLateral {
        display: none;
    }

    app-sidebarTop {        
        margin: 6.3em 1em 1em 1em;
    }
}

@media (min-width: 1688px) {
/* style de tela grande */
    app-sidebarTop{
        margin: 5.4em 20em 1em 20em;
    }
    
    app-conteudo {
        margin: 0 20em 5em 1em;
    }
}
